/*stilos css de usuarios*/
body {
    font-family: Arial, sans-serif;
    color: white;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-block-color: white;
}

.user-card {
    background-color: #36393f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s; /* Agregar efecto de transición */
}

    .user-card:hover {
        transform: translateY(-10px); /* Efecto de elevación */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Efecto de sombra */
    }

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-label {
    color: black;
}

.filter-section-row {
    display: flex;
    gap: 10px;
    align-items: center;
}
